<p id="notice"><%= notice %></p>

<p>
  <strong>shorten  url:</strong>
  <%= @redirect.shorten_url %>
</p>

<%= link_to 'Edit', edit_redirect_path(@redirect) %> |
<%= link_to 'Back', redirects_path %>
